<?xml version="1.0"?>
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	</include>

	<param name="robot_description" command="xacro --inorder '$(find bldc_stand_sim)/bldc_description/bldc_control_sim.urdf.xacro'"/>
<!---->	
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" 
		args="-urdf -model bldc_sim -param robot_description">
	</node>
 
   <rosparam file="$(find bldc_stand_sim)/controller/bldc_sim_position_control.yaml" command="load"/>


  <!-- load the controllers -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/bldc_sim" args="joint_state_controller joint1_position_controller --timeout 50"/>

	<!--node pkg="atlas_launch" name="mtnode" type="control.py" output="screen"> 
	</node-->
					
</launch>
