<?xml version="1.0"?>
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	</include>

	<param name="robot_description" command="xacro --inorder '$(find pndbt_description)/urdf/pndbt.urdf.xacro'"/>
<!---->	
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" 
		args="-urdf -model bldc_sim -param robot_description">
	</node>

	<!-- <node name="rviz" pkg="rviz" type="rviz"/> -->

</launch>

