<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="pndbt_gazebo" params="robot_name">

    <!-- Load Gazebo lib and set the robot namespace -->
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/${robot_name}</robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        <legacyModeNS>true</legacyModeNS>
      </plugin>
    </gazebo> 

	<gazebo reference="table_down">
	  <material>Gazebo/Grey</material>
	</gazebo>

	<gazebo reference="table_upper">
	  <material>Gazebo/GreyTransparent</material>
	</gazebo>


	<gazebo reference="foot_1">
	  <material>Gazebo/DarkGrey</material>
	</gazebo>

	<gazebo reference="foot_2">
	  <material>Gazebo/DarkGrey</material>
	</gazebo>

	<gazebo reference="foot_3">
	  <material>Gazebo/DarkGrey</material>
	</gazebo>

	<gazebo reference="foot_4">
	  <material>Gazebo/DarkGrey</material>
	</gazebo>

	<gazebo reference="stand">
	  <material>Gazebo/Black</material>
	</gazebo>

	<gazebo reference="rotor">
	  <material>Gazebo/Blue</material>
	</gazebo>

	<gazebo reference="link1">
	  <material>Gazebo/Yellow</material>
	</gazebo>

	<gazebo reference="link2">
	  <material>Gazebo/Red</material>
	</gazebo>


  </xacro:macro>

</robot>
