<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="pndbt_transmission" params="hardware_interface">
 

   <transmission name="${robot_name}_tran_1">
      <robotNamespace>/${robot_name}</robotNamespace>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="stand_rotor">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
      </joint>
      <actuator name="${robot_name}_motor_1">
	<hardwareInterface>${hardware_interface}</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

   

  </xacro:macro>
</robot>
